<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6" class="text-center">
        <img src="assets/brand/logo.png" width="72" class="rounded-circle mb-3" alt="" />
        <h1 class="display-3">404</h1>
        <p class="text-body-secondary">The page you are looking for was not found.</p>
        <a cButton color="primary" routerLink="/dashboard">Dashboard</a>
      </c-col>
    </c-row>
  </c-container>
</div>
